* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.contemporary-template {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  position: relative;
  padding: 10px;
  min-height: 1024px;
  box-sizing: border-box;
  border: 1px solid #dee1e2;
  background: #fff;
}

.contemporary-template__header__info {
  text-align: right;
  padding-bottom: 10px;
}

.contemporary-template .wv-heading--title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
.contemporary-template .wv-heading--subtitle {
  word-wrap: break-word;
  color: gray;
  font-size: 18px;
  margin-top: 0;
  line-height: 22px;
}
.contemporary-template .address {
  margin-top: 10px;
}
.contemporary-template .address__field .wv-text {
  line-height: 22px;
}

.block {
  border: 1px solid #dee1e2 ;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.doctor {
  padding-right: 30px;
  text-align: right;
  vertical-align: bottom;
}

.doctor 

.package {
  text-align: right;
}

.notes .desc {
  font-size: 14px;
  font-weight: 600;
}

.package .desc {
  margin-top: 5px;
  font-size: 16px;
}

.label {
  font-size: 14px;
  padding-bottom: 10px;
}

.contemporary-template__metadata__customer--billing .wv-text--strong {
  font-size: 22px;
}

.package .wv-heading--title {
  font-size:16px;
}

.table-container div {
  padding: 5px;
}

.wv-table {
  width: 100%;
  font-size: 14px;
}

.wv-table tr th {
  text-align: right;
  padding: 0 5px;
  font-size: 16px;
}

.wv-table tr td {
  text-align: right;
  padding: 0 5px;
  font-size: 14px;

}

.bold {
  font-weight: 600;
}

.wv-table .left-align {
  text-align: left;
}

.wv-table .middle-align {
  text-align: center;
}

.other-table {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  border: 1px solid #dee1e2;
  border-radius: 10px;
  border-collapse: collapse;
}

.other-table tr th {
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #dee1e2;
  font-weight: 300;
}

.other-table tr td {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #dee1e2;
  font-weight: 300;
}
